!!!
html
	head
		title #{title}
	body
		#ad Hello, guys!
		input#val(type="text")
		input#submit(type="submit", value="submit")
		script(type="text/javascript", src="./scripts/jq.js");
		script(type="text/javascript", src="./scripts/app.js");